
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<br />
<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=194b8c3f-5a76-47af-838f-ea1b5602d572&autoAuth=true&ctid=e4821339-88e3-43d4-bd05-6954a946b94e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
