@model FrontEnd.API.Models.Tickets

<br />
<br />
<div class="card">
    <div class="card-header">
        Información de la reserva
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuario</h5>
        <p class="card-text"> @Html.DisplayFor(model => model.Usuario) </p>
        <h5 class="card-title">Fecha</h5>
        <p class="card-text">
            @Html.DisplayFor(model => model.Fecha)
        </p>

        
        

    </div>
</div>

