@model FrontEnd.API.Models.Publicidad

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Publicidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="CodPublicidad" class="control-label"></label>
                <input asp-for="CodPublicidad" class="form-control" />
                <span asp-validation-for="CodPublicidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEmpresa" class="control-label"></label>
                <input asp-for="CodEmpresa" class="form-control" />
                <span asp-validation-for="CodEmpresa" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Archivo" class="control-label"></label>
                <input type="file" accept="image/*" name="Archivo" class="form-control"  multiple/>
                <span asp-validation-for="Archivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ValidationMessage("ErrorCrearPublicidad", new { Style = "color: #FF665A;" })
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

