@model FrontEnd.API.Models.Usuarios
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LogIn.cshtml";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


    <form class="login100-form validate-form">
        <div class="container-fluid">
            <img src="../img/logoCP.png" />
        </div>

        <span class="login100-form-title p-b-34 p-t-27">
            Registrarse
        </span>

        <div class="wrap-input100 validate-input" data-validate="Escriba un usuario">

            <input asp-for="Usuario" class="input100" type="text" placeholder="Usuario" />
            <span asp-validation-for="Usuario" class="text-danger"></span>

        </div>

        <div class="wrap-input100 validate-input" data-validate="Escriba su nombre completo">
            <input asp-for="Nombre" class="input100" type="text" placeholder="Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Escriba su correo electrónico">
            <input asp-for="Correo" class="input100" type="text" placeholder="Correo" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>


        <div class="container-login100-form-btn">
            @Html.ValidationMessage("Error", new { Style = "color: #FF665A;" })
            <input type="submit" value="Registrar" class="login100-form-btn" asp-action="RegistrarUser" />

        </div>

        <div class="text-center p-t-90">
            <a class="txt1" asp-action="Registro">
                Regresar
            </a>
            <br>
            
        </div>
    </form>


}






